<main class="container mx-auto px-4 py-8 text-gray-200">
  <section class="text-center mb-16">
    <h1 class="text-5xl font-bold font-serif text-blue-400 mb-4">Créez et Gérez vos Aventures</h1>
    <p class="text-xl text-gray-400 mb-6">Votre compagnon ultime pour la création de personnages et la gestion de campagnes.</p>
  </section>

  <section class="mb-16 grid md:grid-cols-2 gap-8">
    <div class="bg-slate-800/50 backdrop-blur-sm p-6 rounded-lg shadow-xl shadow-black/30 border border-blue-400/30">
      <h2 class="text-2xl font-bold font-serif text-blue-400 mb-4">Création de Personnage OGL5</h2>
      <p class="mb-6 text-gray-400">Créez facilement des personnages avec les règles officielles OGL5.</p>
      <button (click)="navigateToCreateOgl5()" class="bg-purple-600 text-white font-bold px-6 py-2 rounded-lg hover:bg-purple-500 focus:outline-none focus:ring-4 focus:ring-purple-400/50 transition-all duration-300 hover:shadow-lg hover:shadow-purple-500/40">
        Créer un personnage OGL5
      </button>
    </div>

    <div class="bg-slate-800/50 backdrop-blur-sm p-6 rounded-lg shadow-xl shadow-black/30 border border-blue-400/30">
      <h2 class="text-2xl font-bold font-serif text-blue-400 mb-4">Création de Personnage Custom</h2>
      <p class="mb-6 text-gray-400">Développez des personnages uniques avec vos propres règles.</p>
      <button class="bg-transparent border-2 border-blue-500 text-blue-400 font-bold px-6 py-2 rounded-lg hover:bg-blue-500 hover:text-slate-900 focus:outline-none focus:ring-4 focus:ring-blue-400/50 transition-colors duration-300">
        Créer un personnage Custom
      </button>
    </div>
  </section>

  <section class="bg-slate-800/50 backdrop-blur-sm p-8 rounded-lg shadow-xl shadow-black/30 border border-blue-400/30">
    <h2 class="text-3xl font-bold font-serif text-purple-400 mb-4">Gestion de Campagne</h2>
    <p class="mb-6 text-gray-400">Organisez et gérez vos campagnes en toute simplicité.</p>
  </section>
</main>
