<footer class="bg-transparent py-6 mt-auto border-t border-blue-400/20">
  <div class="container mx-auto px-4 text-center">
    <h2 class="text-2xl font-bold font-serif text-blue-400 mb-4">À Propos de l'Application</h2>
    <p class="text-gray-500">
      Une solution complète pour les joueurs de jeux de rôle, offrant des outils intuitifs
      pour la création de personnages et la gestion de campagnes.
    </p>

    <div class="mt-4">
      <a routerLink="/mentions-legales" class="text-gray-400 hover:text-purple-400 hover:underline transition-colors duration-300">
        Mentions Légales
      </a>
    </div>
  </div>
</footer>
